body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainHeading{
  padding-top: 20px;
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent
}

.gradient{
  height: 100vw;
  width: 100vw;
  background: linear-gradient(-45deg, #CCE1F2, #C6F8E5, #FBF7D5, #F9DED7, #F5CDDE, #E2BEF1);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}
